.sec-3 {
  display: block;
  clear: both;
  text-align: center;
  background-color: rgb(227, 227, 227);
  font-size: 1em;
  font-weight: bold;
  height: 100px;
  box-shadow: inset 0px 13px 7px -14px #000000;
  bottom: 0;
  position: relative;
  width: 100%;
}

.sec-3 p:nth-child(1) {
  padding-top: 35px;
}

.sec-3 p:nth-child(2) {
  position: relative;
  font-size: 0.6em;
  padding-top: 17px;
  font-weight: 500;
  bottom: 5%;
}

