.sec-3 {
  display: grid;
  clear: both;
  background-color: rgb(227, 227, 227);
  box-shadow: inset 0px 13px 7px -14px #000000;
  bottom: 0;
  position: relative;
  width: 100%;
}

.s3 {
  display: block;
  padding-top: 2%;
  font-size: 1.5vh;
  padding-left: 10%;
  padding-right: 25%;
  height: auto;
}
.s3 p:nth-child(1) {
  font-weight: bold;
  font-size: 2vh;
  padding-right: 2%;
  float: left;
}
.s3 p:nth-child(2) {
  line-height: 1.5;
  float: left;
  padding-right: 2%;
}

.s3 p:nth-child(3) {
  float: left;
  line-height: 2.7;
  border-left: 1px solid rgb(125, 125, 125);
  padding-left: 1%;
}

.s3 p:nth-child(3) a {
  text-decoration: none;
  color: black;
}

.last {
  margin: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  font-size: 1.4vh;
  font-weight: 500;
  font-style: italic;
}
@media screen and (max-width: 700px) {
  .s3 p:nth-child(3) {
    border-left: none;
    padding-left: none;
  }
}
