.header {
  background-color: rgb(227, 227, 227);
  position: fixed;
  box-shadow: 0px 0px 7px 1px black;
  z-index: 9;
  height: 5em;
  width: 100%;
  display: inline-block;
}

.logo {
  float: left;
  width: 20%;
  position: relative;
  top: 20%;
  left: 5%;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0,0.2));
}

.logo:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.nav {
  float: right;
  position: relative;
  top: 15%;
  right: 5%;
}

.nav li {
  list-style: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  padding: 0 1em;
}

.nav li:hover {
  transform: translateY(-3px);
  transition: ease 0.2s;
}

.header_link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.header_link:hover {
  color: rgb(169, 0, 0);
  transition: 0.4s;
}

.active {
  border-bottom: 2px solid !important;
  color: rgb(169, 0, 0) !important;
}

#menu {
  display: none;
  font-size: 3em;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: #000;
  text-align: right;
  float: right;
  width: 25%;

}

#menu::before {
  content: "≡";
}

#menu.show::before {
  content: "x";
}

.show {
  display: block !important;
  animation: fadeInOpacity 100ms ease-in-out;
}


@keyframes fadeInOpacity {
  0% {
    top: -200px;
  }

  100% {
    top: 0px;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    position: relative;
    width: 40%;
    position: relative;
    top: 33%;
  }

  .nav {
    right: 0;
    flex-direction: column;
    display: none;
    position: absolute;
    top: 0;
    margin-top: 0;
    border: 0px solid transparent;
    padding: 30% 30%;
    min-height: 10vh;
    min-width: 40%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -5;
  }
  .header_link{
    color: aliceblue;

  }
  .nav li {
    font-size: 1em;
    padding: 0.55em 0.15em;
    display: block;
    text-shadow: 0 0 5px black;
    text-align: center;
  }

  #menu {
    display: block !important;
    z-index: 2;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .logo {
    position: relative;
    width: 20%;
    position: relative;
    top: 1.8em;
  }
  .nav li {
    font-size: 0.8em;
  }
}